<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Gaming Shop App</title>
</head>
<body>
  <%- include ('partials/navbar.ejs') %>
  <% if (login[0].login_status === 1) { %>
    <div class="container">
        <br>
        <div class="text-center"><h2>Shopping Cart</h2></div>
        <br>
        <div style="width:100%; overflow: auto;">
        <% for(let i=0; i < items.length; i++) { %>
            <div class="card" style="width: 33%; float: left;">
            <div class="card-body" style="display: inline;">
                <img class="card-img-top" src = "images/<%= items[i].image %>" width="20%" height="500px">
                <h4><%= items[i].name %></h4>
                <p>Quantity: <%= items[i].quantity %></p>
                <p>Price: $<%= items[i].price.toFixed(2) %></p>
                <a href="/deleteCart/<%= items[i].cartId %>" class="btn btn-danger">Remove from Cart</a>
                <a href="/updateCart/<%= items[i].cartId %>" class="btn btn-danger">Update Quantity</a>
            </div>
            </div>
        <% } %>
        </div>
        <br>
        <div class="text-center">
        <h4>Total: $<%= total%></h4>
        <a href="/checkout" class="btn btn-primary">Checkout</a>
        </div>
    </div>
    <% } else { %> 
        <div class="container">
            <br>
            <div class="text-center"><h2>Access Denied</h2></div>
            <br>
            <div class="text-center">
                <h3>You must be logged in to view your cart.</h3>
                <a href="/login">Login</a>
            </div>
        </div>
    <% } %>
</body>
</html>